.DS_Store

.vscode

scraping/__pycache__
scraping/api_key.json

scraping/data
scraping/utils/chromedriver
scraping/utils/__pycache__
scraping/.ipynb_checkpoints
scraping/utils/data

sentiment-analysis/utils/fasttext
sentiment-analysis/bert
sentiment-analysis/data
sentiment-analysis/runs
sentiment-analysis/wandb
sentiment-analysis/__pycache__
sentiment-analysis/cache_dir
sentiment-analysis/.ipynb_checkpoints
sentiment-analysis/models
sentiment-analysis/utils/fasttext/
sentiment-analysis/utils/__pycache__/

evaluation/data
evaluation/.ipynb_checkpoints

automation/models
automation/__pycache__
automation/utils/data
automation/utils/__pycache__
automation/lynx_data.db
automation/data

scoring/.ipynb_checkpoints
scoring/utils/__pycache__
scoring/data
scoring/utils/data

.gitsecret/keys/random_seed
!*.secret
